
		@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

		* {
			margin: 0px;
			padding: 0px;
			font-family: 'Open Sans', sans-serif;
		}
		
		  
		#header {
			width: 100%;
			font-family: Arial, Helvetica, sans-serif;
			height: 38px;

			background-color: #007bff;
		}

		/*Globales*/
		.centrado {
			margin-left: auto;
			margin-right: auto;
		}

		.row {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;

		}

		.col-1 {
			-ms-flex: 0 0 8.333333%;
			flex: 0 0 8.333333%;
			max-width: 8.333333%;
		}

		.col-2 {
			-ms-flex: 0 0 16.666667%;
			flex: 0 0 16.666667%;
			max-width: 16.666667%;
		}

		.col-3 {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
		}

		.col-4 {
			-ms-flex: 0 0 33.333333%;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}

		.col-5 {
			-ms-flex: 0 0 41.666667%;
			flex: 0 0 41.666667%;
			max-width: 41.666667%;
		}

		.col-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}

		.col-7 {
			-ms-flex: 0 0 58.333333%;
			flex: 0 0 58.333333%;
			max-width: 58.333333%;
		}

		.col-8 {
			-ms-flex: 0 0 66.666667%;
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
		}

		.col-9 {
			-ms-flex: 0 0 75%;
			flex: 0 0 75%;
			max-width: 75%;
		}

		.col-10 {
			-ms-flex: 0 0 83.333333%;
			flex: 0 0 83.333333%;
			max-width: 83.333333%;
		}

		.col-11 {
			-ms-flex: 0 0 91.666667%;
			flex: 0 0 91.666667%;
			max-width: 91.666667%;
		}

		.col-12 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}

		/*Menu*/
		ul,
		ol {
			list-style: none;
		}

		.nav>li {
			float: left;
		}

		.nav li a {
			background-color: #007bff;
			color: #fff;
			text-decoration: none;
			padding: 10px 20px;
			display: block;
		}

		.nav li a:hover {
			background-color: #303130;
		}

		.nav li ul {
			display: none;
			position: absolute;
			width: 180px;
		}

		.nav li:hover>ul {
			display: block;
		}

		.nav li ul li {
			position: relative;
		}

		.nav li ul li ul {
			right: -180px;
			top: 0px;
		}

		/*error de aliniacion*/
		/*.nav li ul li ul .err{
		    right: -34px;
		    top: 0px;
        }*/
		/*Titulo*/
		.titulo {
			text-align: center
		}

		/*Logo titulo*/
		.logo {
			padding-right: 10px;
		}

		/*footer*/
		#footer {
			margin-top: 10px;
			text-align: center;
			color: #fff;
			background: #007bff;
			font-size: 10px;
			padding: 20px 0 20px;
		}

		/*Formulario*/
		.formulario {
			height: 100%;
			padding: 20px 100px 20px 100px;

			/*background-color: #303130;*/
		}

		div.formulario {
			margin-right: 50px;
			margin-left: 50px;
			border: 1px solid black;
			border-radius: 4px;

		}

		.controls {
			border-radius: 6px;
			margin-top: 10px;
			margin-bottom: 50px;
			width: calc(100% - 10px);
			height: 38px;
			margin-right: 12px;
			border: 1px solid #ced4da;
			margin-bottom: 1rem;
			padding: 5px 8px;
			box-sizing: border-box;
		}

		/*button*/
		button {
			color: #fff;
			background-color: #0c4a88;
			border-color: #0c4a88;
			border-radius: 6px;
			margin-top: 40px;
			margin-bottom: 20px;
			width: 80%;
			height: calc(1.5em + .75rem + 2px);
			border: 1px solid #ced4da;
			margin-bottom: 1rem;
			padding: 5px 8px;
			display: block;
			float: right;
		}

		button:hover {
			background-color: #0668c9;
		}

		.controls:hover {
			background-color: #fff;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}

		.controls-label {
			padding: 1px 0px 12px 0px;
			font-size: 16px;
		}
		.controls-label-radio {
			padding: 1px 4px 12px 0px;
			font-size: 16px;
		}
		.controls-radio{
			padding: 4px 4px;
			margin-bottom: 16px;
		}
		.controls-radio:hover{
			background-color: #fff;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
		li {
			list-style-type: none;
		}

		/*correcciones*/

		/*donadores*/
		.form {
			display: inline;
		}
		/*articulos*/
		div.articulos{
			margin-right: 200px;
			margin-left: 200px; 
		}
